In [ ]:
import pandas as pd

# Carga el archivo CSV en un DataFrame de Pandas
datos = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vSFVvnkphLwIOpO3S1jw5E2478Di3XoNpZtrPi27-0kQhgBSutDSfkjGKT5ck4I4g/pub?gid=580369500&single=true&output=csv')

# Muestra las primeras filas del DataFrame para verificar que se haya cargado correctamente
print(datos.head(2))

    Indicator. CountryCode      Country Representativeness.  \
0  Haemoglobin         AFG  Afghanistan            national
1  Haemoglobin         AFG  Afghanistan            national

  Representativeness name          Area covered    Date  Begin month  \
0                     NaN  both urban and rural  2002.0         10.0
1                     NaN  both urban and rural  2002.0         10.0

   Begin year  End month  ...  Old Reference no# 2 Reference no# 2  \
0      2002.0       11.0  ...                  NaN             NaN
1      2002.0       11.0  ...                  NaN             NaN

  Reference 2 Link to reference 2  Old Reference no# 3  Reference no# 3  \
0         NaN                 NaN                  NaN              NaN
1         NaN                 NaN                  NaN              NaN

   Reference 3 Link to reference 3  SurveyId  Survey status
0          NaN                 NaN   10118.0       verified
1          NaN                 NaN   10118.0       verified

[2 rows x 53 columns]

<ipython-input-33-4cbf239dc7bd>:4: DtypeWarning: Columns (39,43) have mixed types. Specify dtype option on import or set low_memory=False.
  datos = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vSFVvnkphLwIOpO3S1jw5E2478Di3XoNpZtrPi27-0kQhgBSutDSfkjGKT5ck4I4g/pub?gid=580369500&single=true&output=csv')

In [ ]:
datos.tail()

,Indicator.,CountryCode,Country,Representativeness.,Representativeness name,Area covered,Date,Begin month,Begin year,End month,...,Old Reference no# 2,Reference no# 2,Reference 2,Link to reference 2,Old Reference no# 3,Reference no# 3,Reference 3,Link to reference 3,SurveyId,Survey status
23752,Haemoglobin,ZWE,Zimbabwe,regional (within country),"Mashonaland Central, Matebeleland South, Mateb...",both urban and rural,1997.0,8.0,1997.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10409.0,verified
23753,Haemoglobin,ZWE,Zimbabwe,regional (within country),"Mashonaland Central, Matebeleland South, Mateb...",both urban and rural,1997.0,8.0,1997.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10409.0,verified
23754,Haemoglobin,ZWE,Zimbabwe,regional (within country),"Mashonaland Central, Matebeleland South, Mateb...",both urban and rural,1997.0,8.0,1997.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10409.0,verified
23755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23756,No filters applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23757 entries, 0 to 23756
Data columns (total 53 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Indicator.                   23756 non-null  object
 1   CountryCode                  23755 non-null  object
 2   Country                      23755 non-null  object
 3   Representativeness.          23755 non-null  object
 4   Representativeness name      10762 non-null  object
 5   Area covered                 23755 non-null  object
 6   Date                         23755 non-null  float64
 7   Begin month                  21265 non-null  float64
 8   Begin year                   23523 non-null  float64
 9   End month                    21252 non-null  float64
 10  End year                     23755 non-null  float64
 11  Population                   23755 non-null  object
 12  Gender                       23755 non-null  object
 13  Age unit                     23755 non-null  object
 14  Age from                     23019 non-null  float64
 15  Age to                       21814 non-null  float64
 16  Sample size                  20529 non-null  float64
 17  Indicator unit               6307 non-null   object
 18  Mean                         5996 non-null   float64
 19  Geo mean                     101 non-null    float64
 20  Median                       997 non-null    float64
 21  SD                           3894 non-null   float64
 22  SE                           841 non-null    float64
 23  L95CI                        1116 non-null   float64
 24  U95CI                        1116 non-null   float64
 25  Anaemia cut-off              21406 non-null  object
 26  Anaemia prevalence           21407 non-null  float64
 27  Mild anaemia cut-off         12836 non-null  object
 28  Mild anaemia prevalence      12836 non-null  float64
 29  Moderate anaemia cut-off     13653 non-null  object
 30  Moderate anaemia prevalence  13653 non-null  float64
 31  Severe anaemia cut-off       13374 non-null  object
 32  Severe anaemia prevalence    13374 non-null  float64
 33  Sample collection method     23755 non-null  object
 34  Method of analysis           23755 non-null  object
 35  Data adjusted for            20878 non-null  object
 36  General data comments        13047 non-null  object
 37  Indicator comments           23747 non-null  object
 38  Survey methodology           23734 non-null  object
 39  Old Reference no# 1          9500 non-null   object
 40  Reference no# 1              23755 non-null  float64
 41  Reference 1                  23755 non-null  object
 42  Link to reference 1          15944 non-null  object
 43  Old Reference no# 2          2664 non-null   object
 44  Reference no# 2              6534 non-null   float64
 45  Reference 2                  6534 non-null   object
 46  Link to reference 2          4353 non-null   object
 47  Old Reference no# 3          975 non-null    float64
 48  Reference no# 3              3391 non-null   float64
 49  Reference 3                  3391 non-null   object
 50  Link to reference 3          2276 non-null   object
 51  SurveyId                     23755 non-null  float64
 52  Survey status                23755 non-null  object
dtypes: float64(24), object(29)
memory usage: 9.6+ MB

In [ ]:
datos.describe()

,Date,Begin month,Begin year,End month,End year,Age from,Age to,Sample size,Mean,Geo mean,...,U95CI,Anaemia prevalence,Mild anaemia prevalence,Moderate anaemia prevalence,Severe anaemia prevalence,Reference no# 1,Reference no# 2,Old Reference no# 3,Reference no# 3,SurveyId
count,23755.000000,21265.000000,23523.000000,21252.000000,23755.000000,23019.000000,21814.000000,20529.000000,5996.000000,101.000000,...,1116.000000,21407.000000,12836.000000,13653.000000,13374.000000,23755.000000,6534.000000,975.000000,3391.000000,23755.00000
mean,2007.262471,6.901858,2006.969052,7.567241,2007.257546,15.827925,42.972495,1772.617955,125.736594,123.153465,...,150.096219,37.961842,24.651100,18.685547,2.049016,835.973648,995.043465,3206.918974,989.953111,10770.06184
std,8.850204,3.457485,8.758339,3.627825,8.844461,13.062186,18.054220,11967.113325,14.668974,13.822565,...,161.826178,21.514401,9.561055,15.214351,3.781305,522.766243,486.773441,1222.647215,487.951668,447.95110
min,1961.000000,1.000000,1961.000000,1.000000,1961.000000,0.000000,0.000000,0.000000,10.400000,15.100000,...,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,64.000000,7.000000,10000.00000
25%,2001.000000,4.000000,2001.000000,5.000000,2001.000000,6.000000,29.000000,224.000000,116.000000,118.000000,...,121.000000,20.800000,18.400000,6.800000,0.300000,325.000000,656.000000,2585.000000,554.000000,10371.00000
50%,2009.000000,7.000000,2008.000000,8.000000,2009.000000,15.000000,49.000000,508.000000,126.000000,124.000000,...,128.000000,35.100000,24.300000,13.800000,0.900000,884.000000,945.000000,2585.000000,914.000000,10852.00000
75%,2014.000000,10.000000,2014.000000,11.000000,2014.000000,15.000000,59.000000,1255.000000,135.000000,128.000000,...,136.000000,53.400000,30.000000,28.100000,2.300000,1228.000000,1410.000000,2997.000000,1387.000000,11132.00000
max,2022.000000,12.000000,2022.000000,12.000000,2022.000000,90.000000,102.000000,712101.000000,188.000000,151.000000,...,1429.000000,100.000000,100.000000,85.600000,95.100000,1940.000000,1957.000000,5821.000000,1791.000000,11736.00000

In [ ]:
#seleccionando un fila
fila_random = datos.loc[0]
print(fila_random)

Indicator.                                                           Haemoglobin
CountryCode                                                                  AFG
Country                                                              Afghanistan
Representativeness.                                                     national
Representativeness name                                                      NaN
Area covered                                                both urban and rural
Date                                                                      2002.0
Begin month                                                                 10.0
Begin year                                                                2002.0
End month                                                                   11.0
End year                                                                  2002.0
Population                                                Preschool-age children
Gender                                                                       All
Age unit                                                                    Year
Age from                                                                     NaN
Age to                                                                       5.0
Sample size                                                                858.0
Indicator unit                                                               NaN
Mean                                                                         NaN
Geo mean                                                                     NaN
Median                                                                       NaN
SD                                                                           NaN
SE                                                                           NaN
L95CI                                                                        NaN
U95CI                                                                        NaN
Anaemia cut-off                                                         <110 g/L
Anaemia prevalence                                                          28.8
Mild anaemia cut-off                                                         NaN
Mild anaemia prevalence                                                      NaN
Moderate anaemia cut-off                                                     NaN
Moderate anaemia prevalence                                                  NaN
Severe anaemia cut-off                                                       NaN
Severe anaemia prevalence                                                    NaN
Sample collection method                                      Capillary puncture
Method of analysis                                         Colorimetry (Hemocue)
Data adjusted for                                                            NaN
General data comments                                                        NaN
Indicator comments             Haemoglobin assessed using HemoCue (B HemoCue,...
Survey methodology             Survey conducted at the end of the usual falci...
Old Reference no# 1                                                         3132
Reference no# 1                                                            127.0
Reference 1                    National Malaria Prevalence Survey Afghanistan...
Link to reference 1                                                          NaN
Old Reference no# 2                                                          NaN
Reference no# 2                                                              NaN
Reference 2                                                                  NaN
Link to reference 2                                                          NaN
Old Reference no# 3                                                          NaN
Reference no# 3                                                              NaN
Reference 3                                                                  NaN
Link to reference 3                                                          NaN
SurveyId                                                                 10118.0
Survey status                                                           verified
Name: 0, dtype: object

In [ ]:
#seleccionando una columna
columna_random = datos.loc[:,"Area covered"]
print(columna_random)

0        both urban and rural
1        both urban and rural
2        both urban and rural
3        both urban and rural
4        both urban and rural
                 ...
23752    both urban and rural
23753    both urban and rural
23754    both urban and rural
23755                     NaN
23756                     NaN
Name: Area covered, Length: 23757, dtype: object

In [ ]:
#.loc[]: Se utiliza para la selección basada en etiquetas. Esto significa que puedes seleccionar filas o columnas utilizando los índices de fila y columna específicos (etiquetas)
#en el DataFrame. Cuando utilizas .loc[], Pandas busca las etiquetas específicas que especificas.

#.iloc[]: Se utiliza para la selección basada en posiciones enteras de fila y columna. Esto significa que puedes seleccionar filas o columnas utilizando los índices enteros de fila
#y columna en el DataFrame. Cuando utilizas .iloc[], Pandas selecciona las filas o columnas en función de sus posiciones en el DataFrame.

In [ ]:
columna_random_2 = datos.iloc[:,5]
print(columna_random_2)

0        both urban and rural
1        both urban and rural
2        both urban and rural
3        both urban and rural
4        both urban and rural
                 ...
23752    both urban and rural
23753    both urban and rural
23754    both urban and rural
23755                     NaN
23756                     NaN
Name: Area covered, Length: 23757, dtype: object

In [ ]:
fila_random_2 = datos.iloc[9]
print(fila_random_2)

Indicator.                                                           Haemoglobin
CountryCode                                                                  AFG
Country                                                              Afghanistan
Representativeness.                                                     national
Representativeness name                                                      NaN
Area covered                                                both urban and rural
Date                                                                      2004.0
Begin month                                                                  5.0
Begin year                                                                2004.0
End month                                                                    6.0
End year                                                                  2004.0
Population                                              Non-pregnant women (NPW)
Gender                                                                    Female
Age unit                                                                    Year
Age from                                                                    15.0
Age to                                                                      49.0
Sample size                                                               1142.0
Indicator unit                                                               g/L
Mean                                                                       128.0
Geo mean                                                                     NaN
Median                                                                       NaN
SD                                                                          17.0
SE                                                                           NaN
L95CI                                                                        NaN
U95CI                                                                        NaN
Anaemia cut-off                                                        <120  g/L
Anaemia prevalence                                                          24.7
Mild anaemia cut-off                                                         NaN
Mild anaemia prevalence                                                      NaN
Moderate anaemia cut-off                                                     NaN
Moderate anaemia prevalence                                                  NaN
Severe anaemia cut-off                                                       NaN
Severe anaemia prevalence                                                    NaN
Sample collection method                                      Capillary puncture
Method of analysis                                         Colorimetry (Hemocue)
Data adjusted for                                           Altitude and smoking
General data comments                                                        NaN
Indicator comments             Blood was taken from a fingerstick and collect...
Survey methodology             Final data collected on 32 of the 39 selected ...
Old Reference no# 1                                                         5173
Reference no# 1                                                            131.0
Reference 1                    Ministry of Public Health of the Islamic Repub...
Link to reference 1                                                          NaN
Old Reference no# 2                                                          NaN
Reference no# 2                                                              NaN
Reference 2                                                                  NaN
Link to reference 2                                                          NaN
Old Reference no# 3                                                          NaN
Reference no# 3                                                              NaN
Reference 3                                                                  NaN
Link to reference 3                                                          NaN
SurveyId                                                                 10120.0
Survey status                                                           verified
Name: 9, dtype: object